.git
.github
.env
.pytest*
__pycache__
*.pyc
.idea
venv
tests/
docs/
README.md
.gitignore
.dockerignore
src/data/temp_files/*
!src/data/temp_files/.gitkeep
src/data/db/*
!src/data/db/.gitkeep
src/data/cookies/*
!src/data/cookies/.gitkeep
