# Пример задания cron для cookies-extractor
# minute hour day month day-of-week command
0 */6 * * * /usr/bin/docker compose -f /home/DJgurda/bot_prod/deploy/compose/compose.cookies.yml run --rm cookies-extractor
